
<div class="container">


	<div class="row">
		<div class="col-md-12 text-center">Template Chart </div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="bb_chart chart">
				<svg></svg>
			</div>
		</div>
	</div>
	

	<div class="row">
		<div class="col-md-1 col-md-offset-5">
			<button type="button" class="btn btn-default" id="add-dot">Add</button>
		</div>
		<div class="col-md-1">
			<button type="button" class="btn btn-default" id="add-dot-365">Add 365</button>
		</div>
		<div class="col-md-1">
			<button type="button" class="btn btn-default" id="shuffle-dot">Shuffle</button>
		</div>
		<div class="col-md-1">
			<button type="button" class="btn btn-default" id="remove-dot">Remove</button>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="bb_list"></div>
		</div>
	</div>

</div>
