
<div class="container">


	<div class="row">
		<div class="col-md-12 text-center">Template Chart </div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="bb_chart"></div>
		</div>
	</div>
	

	<div class="row">
		<div class="col-md-1 col-md-offset-5">
			<button type="button" class="btn btn-default" id="add-dot">Add</button>
		</div>
		<div class="">
			<button type="button" class="btn btn-default" id="remove_dot">Remove</button>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="bb_list"></div>
		</div>
	</div>

</div>
